* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

header {
    display: flex;
    background-color: #112033;
    height: 50px;
}

header img {
    height: auto;
    width: auto;
    object-fit: contain;
    margin: 5px;
}

header nav {
    width: 100%;
}

header ul {
    display: flex ;
    justify-content: space-between;
    width: 100%;
}

header li {
    color: #fff;
    margin-top: 15px;
}